.favorite-inner {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  &__title {
    @include flex(row, space-between, center);
    width: 100%;
    & > button {
      font-size: 18px;
      background: 0;
      font-weight: 500;
      color: $grey;
      border: 0;
      @include flex(row, center, center);
      gap: 10px;
      &:hover {
        color: $red;
      }
    }
  }

  &__content {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    li {
      border-radius: 5px;
      padding: 10px;
      @include flex(column, center, center);
      gap: 20px;
      border: 2px solid $grey;
      h2 {
        text-align: center;
      }
      img {
        width: 300px;
        height: 300px;
        border-radius: 5px;
      }
      .price {
        @include flex(row, space-between, center);
        width: 100%;
        span {
          font-size: 20px;
          font-weight: 600;
        }
        &-discont {
          text-decoration: line-through;
          color: $red;
        }
      }
      .btns {
        width: 100%;
        @include flex(row, center, center);
        button {
          width: 100%;
            padding: 10px ;
            background: $red;
            border: 0;
            border-radius: 5px;
            color: white;
            font-size: 18px;
            font-weight: 600;
        }
        & > svg {
          width: 50px;
          height: 50px;
          cursor: pointer;
          margin: 0 5px 0 10px;
        }
        a {
          @include flex(row, center, center);
          color: black;
          svg {
            width: 35px;
            cursor: pointer;
            height: 35px;
          }
        }
      }
    }

    &_false{
        @include flex(column, center, center);
        padding: 100px 0;
        gap: 20px;
        width: 100%;
        & > a{
            background: $red;
            padding: 10px 20px;
            border-radius: 5px;
            color: white;
            font-weight: 600;
            font-size: 22px;
        }
    }
  }
}
