.footer {
  padding: 50px 0 10px 0;
  &-inner {
    &__top {
      @include flex(row, space-between, start);
      padding-bottom: 10px;
      &_info {
        span {
          font-size: 24px;
          font-weight: 600;
        }
        ul {
          display: flex;
          flex-direction: column;

          gap: 5px;
          li {
            a {
              color: $grey;
            }
          }
        }
      }
      &_connect {
        & > span {
          font-size: 24px;
          font-weight: 600;
        }
        ul {
          @include flex(column, start, start);
          gap: 10px;
          li {
            a {
              gap: 5px;
              @include flex(row, center, center);
              svg {
                font-size: 25px;
                color: $grey;
              }
            }
          }
        }
      }
      &_social {
        span {
          font-size: 24px;
          font-weight: 600;
        }
        ul {
          display: flex;
          gap: 10px;
          li {
            a {
              svg {
                font-size: 28px;
                color: $grey;
              }
            }
          }
        }
      }
      &_payment {
        width: 310px;
        span {
          font-size: 24px;
          font-weight: 600;
        }
        ul {
          display: flex;
            justify-content: center;
          gap: 10px;
          flex-wrap: wrap;
          li {
            width: 150px;
            height: 70px;
            border-radius: 8px;
            background: #f2f2f7;
            @include flex(row, center, center);
            img {
              width: 60px;
              height: 60px;
              object-fit: contain;
            }
          }
        }

        @media (max-width: 1300px){
            width: 100%;
        }
      }

      div {
        & > span {
          display: block;
          margin-bottom: 20px;
        }
      }

      @media (max-width: 1300px) {
        flex-wrap: wrap;
      }
    }

    &__bottom {
      @include flex(row, center, center);
      padding-top: 10px;
      border-top: 1px solid $grey;
      h3 {
        max-width: 800px;
        color: $grey;
        font-size: 16px;
        text-align: center;
      }
    }
  }
}
